---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am currently an AI Research Scientist for <a href="http://www.dataminr.com/" Dataminr ></a>, where I develop real-time AI tools that detect the earliest signals of high-impact events and emerging risks to save peoples lifes! Prior to joining Dataminr I was the CTO & Co-founder of <a href="http://intelligentnetworks.ai"> Intelligent Networks</a>, funded by <a href="http://www.joinef.com"> Entrepreneur First</a>, where I developed innovative probabilsitic machine learning solutions, using probabilistic programming, to optimise utility networks, and help alliviate the environmental effects of a warming climate on the distribution of fresh water, due to an increase in droughts and flooding - the juxtaposition! 
  Intelligent Networks was founded towards the end of my PhD in Machine learning, which I completed at the <a href="http://www.ox.ac.uk/">University of Oxford</a>  in 2021 as part of the <a href="http://aims.robots.ox.ac.uk/">Autonomous Intelligent Machines and Systems (AIMS)</a> program, where I was supervised by the wonderful <a href="https://www.stats.ox.ac.uk/~teh/">Yee Whye Teh </a>, <a href="http://www.robots.ox.ac.uk/~gunes/"> Atılım Güneş Baydin</a>,  
  <a href="http://www.robots.ox.ac.uk/~phst/">Phil Torr</a> and  <a href="http://www.robots.ox.ac.uk/~twgr/">Tom Rainforth </a>. 
  I also had the pleasure of working with <a href="https://www.cs.ubc.ca/~fwood/"> Frank Wood</a>, who introduced me to probabilistic programming 
  
  
  at Oxford.
  My PhD research focused on the intersection of probabilistic programming, computational sustainability and machine learning for societal uses. 
  I was, and still am, interested in quantum machine learning, as my background is in quantum information science. 
  Occasionally I will write a blog post, since I am always learning and do take a lot of notes! Unfortunately, only a very small subset of those notes make it here as I like to make sure that the information is presented as clearly as possible.
<!-- 
  I spent the summer of 2016 at LinkedIn working on <a href="{{ '/posts/2016_network-ab-testing.html' | prepend: site.baseurl }}">detecting network effects in randomized experiments</a>. -->
  </p>

  <p>
    Before coming to Oxford I did a Bachelors and Masters in mathematical physics at the University of Nottingham, where I had the pleasure of doing a <a href="https://quantingham.wordpress.com/people/">research internship</a> with <a href="https://quantingham.wordpress.com/"> Gerardo Adesso</a>,<a href="https://rqinottingham.weebly.com/people.html"> Ivette Fuentes</a> and <a href="https://quantingham.wordpress.com/people/">Antony Lee</a> on developing quantum maps for quantum channels moving in De Sitter spacetime. 
    I volunteered as a mathematics and disability tutor at my old high school, to give something back to the school that made me and support those from disadvantaged backgrounds (<a href="https://webarchive.nationalarchives.gov.uk/20141107074127/http://www.ofsted.gov.uk/sites/default/files/documents/surveys-and-good-practice/t/Twelve%20outstanding%20secondary%20schools.pdf">Greenwood dale school now called the Nottingham Academy</a>). 
    I also completed a full Iron Man, my first and only ever triathalon, marathon and multi-sport event with just 4 weeks of training, simply because I was given a free entry 4 weeks beforehand... it took just over 10 hours to <a href="http://tri.cafe/races/323/athlete/589364"> complete. </a> 
    I <a href="https://photos.app.goo.gl/Y7TAzMgzt7WFBuor6">wild camped</a> and cycled the breadth of Scotland, and became a local <a href="https://www.nottsaaa.org/sites/default/files/Notts%20Fell%20Champs%20Results%202016.pdf">fell running champion</a>. 
    I am also dyslexic and dyspraxic, so I will apologise for the typos in advance!
  </p>
  <p> Fun fact: For most of my life I got to cycle past the birthplace and grave of the famous George Green (Green functions).</p>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=c6uRw90AAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== postS========== -->
<div class="docs-section" id="posts">
  <h4>Posts</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#posts-selected">Selected</div></li>
    <li><div class="button" data-ref="#posts-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="posts-selected">
      {% assign selected_posts = site.data.posts.posts | where: "selected", "y" %}
      {% for post in selected_posts %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="post-container">

                <div class="post-image-container">
                  <a href="{{ post.url }}">
                    <img src="{{ post.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="post-caption">
                  <b>{{ post.title }}</b> <br/>
                  {{ post.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="posts-all">
      {% for post in site.data.posts.posts %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="post-container">

                <div class="post-image-container">
                  <a href="{{ post.url }}">
                    <img src="{{ post.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="post-caption">
                  <b>{{ post.title }}</b> <br/>
                  {{ post.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Resume</h4>

<p>Full Resume in <a href={{ "/assets/cv/bradley-gram-hansen-cv-may-2021.pdf" | prepend: site.baseurl }} target="_blank">PDF, updated May 2021</a>.</p> 

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="docs-section" id="template">
  <h4>Template</h4>
  <p>To build this site I have made use of a Jekyll template created by Martin Saveski. Thank you! 
  If you would like to use this template please go to <a href="https://web.stanford.edu/~msaveski/ ">Martin Saveski's site </a> for the Github repository.</p> 
</div>